[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "lib/opus"]
	path = lib/opus
	url = https://github.com/xiph/opus.git
[submodule "lib/SOIL2"]
	path = lib/SOIL2
	url = https://github.com/SpartanJ/SOIL2.git
[submodule "lib/boost/uuid"]
	path = lib/boost/uuid
	url = https://github.com/boostorg/uuid.git
[submodule "lib/boost/core"]
	path = lib/boost/core
	url = https://github.com/boostorg/core.git
[submodule "lib/boost/assert"]
	path = lib/boost/assert
	url = https://github.com/boostorg/assert.git
[submodule "lib/boost/config"]
	path = lib/boost/config
	url = https://github.com/boostorg/config.git
[submodule "lib/boost/container"]
	path = lib/boost/container
	url = https://github.com/boostorg/container.git
[submodule "lib/boost/container_hash"]
	path = lib/boost/container_hash
	url = https://github.com/boostorg/container_hash.git
[submodule "lib/boost/exception"]
	path = lib/boost/exception
	url = https://github.com/boostorg/exception.git
[submodule "lib/boost/io"]
	path = lib/boost/io
	url = https://github.com/boostorg/io.git
[submodule "lib/boost/move"]
	path = lib/boost/move
	url = https://github.com/boostorg/move.git
[submodule "lib/boost/numeric_conversion"]
	path = lib/boost/numeric_conversion
	url = https://github.com/boostorg/numeric_conversion.git
[submodule "lib/boost/intrusive"]
	path = lib/boost/intrusive
	url = https://github.com/boostorg/intrusive.git
[submodule "lib/boost/predef"]
	path = lib/boost/predef
	url = https://github.com/boostorg/predef.git
[submodule "lib/boost/preprocessor"]
	path = lib/boost/preprocessor
	url = https://github.com/boostorg/preprocessor.git
[submodule "lib/boost/random"]
	path = lib/boost/random
	url = https://github.com/boostorg/random.git
[submodule "lib/boost/serialization"]
	path = lib/boost/serialization
	url = https://github.com/boostorg/serialization.git
[submodule "lib/boost/static_assert"]
	path = lib/boost/static_assert
	url = https://github.com/boostorg/static_assert.git
[submodule "lib/boost/throw_exception"]
	path = lib/boost/throw_exception
	url = https://github.com/boostorg/throw_exception.git
[submodule "lib/boost/tti"]
	path = lib/boost/tti
	url = https://github.com/boostorg/tti.git
[submodule "lib/boost/type_traits"]
	path = lib/boost/type_traits
	url = https://github.com/boostorg/type_traits.git
[submodule "lib/boost/winapi"]
	path = lib/boost/winapi
	url = https://github.com/boostorg/winapi.git
[submodule "lib/boost/describe"]
	path = lib/boost/describe
	url = https://github.com/boostorg/describe.git
[submodule "lib/boost/mp11"]
	path = lib/boost/mp11
	url = https://github.com/boostorg/mp11.git
[submodule "lib/boost/smart_ptr"]
	path = lib/boost/smart_ptr
	url = https://github.com/boostorg/smart_ptr.git
[submodule "lib/boost/tuple"]
	path = lib/boost/tuple
	url = https://github.com/boostorg/tuple.git
[submodule "lib/boost/array"]
	path = lib/boost/array
	url = https://github.com/boostorg/array.git
[submodule "lib/boost/dynamic_bitset"]
	path = lib/boost/dynamic_bitset
	url = https://github.com/boostorg/dynamic_bitset.git
[submodule "lib/boost/integer"]
	path = lib/boost/integer
	url = https://github.com/boostorg/integer.git
[submodule "lib/boost/range"]
	path = lib/boost/range
	url = https://github.com/boostorg/range.git
[submodule "lib/boost/system"]
	path = lib/boost/system
	url = https://github.com/boostorg/system.git
[submodule "lib/boost/utility"]
	path = lib/boost/utility
	url = https://github.com/boostorg/utility.git
[submodule "lib/boost/concept_check"]
	path = lib/boost/concept_check
	url = https://github.com/boostorg/concept_check.git
[submodule "lib/boost/conversion"]
	path = lib/boost/conversion
	url = https://github.com/boostorg/conversion.git
[submodule "lib/boost/typeof"]
	path = lib/boost/typeof
	url = https://github.com/boostorg/typeof.git
[submodule "lib/boost/detail"]
	path = lib/boost/detail
	url = https://github.com/boostorg/detail.git
[submodule "lib/boost/iterator"]
	path = lib/boost/iterator
	url = https://github.com/boostorg/iterator.git
[submodule "lib/boost/function_types"]
	path = lib/boost/function_types
	url = https://github.com/boostorg/function_types.git
[submodule "lib/boost/mpl"]
	path = lib/boost/mpl
	url = https://github.com/boostorg/mpl.git
[submodule "lib/boost/fusion"]
	path = lib/boost/fusion
	url = https://github.com/boostorg/fusion.git
[submodule "lib/boost/functional"]
	path = lib/boost/functional
	url = https://github.com/boostorg/functional.git
[submodule "lib/boost/function"]
	path = lib/boost/function
	url = https://github.com/boostorg/function.git
[submodule "lib/boost/bind"]
	path = lib/boost/bind
	url = https://github.com/boostorg/bind.git
[submodule "lib/boost/type_index"]
	path = lib/boost/type_index
	url = https://github.com/boostorg/type_index.git
[submodule "lib/boost/optional"]
	path = lib/boost/optional
	url = https://github.com/boostorg/optional.git
[submodule "lib/boost/regex"]
	path = lib/boost/regex
	url = https://github.com/boostorg/regex.git
[submodule "lib/boost/spirit"]
	path = lib/boost/spirit
	url = https://github.com/boostorg/spirit.git
[submodule "lib/boost/unordered"]
	path = lib/boost/unordered
	url = https://github.com/boostorg/unordered.git
[submodule "lib/boost/variant"]
	path = lib/boost/variant
	url = https://github.com/boostorg/variant.git
[submodule "lib/boost/endian"]
	path = lib/boost/endian
	url = https://github.com/boostorg/endian.git
[submodule "lib/boost/phoenix"]
	path = lib/boost/phoenix
	url = https://github.com/boostorg/phoenix.git
[submodule "lib/boost/proto"]
	path = lib/boost/proto
	url = https://github.com/boostorg/proto.git
[submodule "lib/boost/pool"]
	path = lib/boost/pool
	url = https://github.com/boostorg/pool.git
[submodule "lib/boost/thread"]
	path = lib/boost/thread
	url = https://github.com/boostorg/thread.git
[submodule "lib/boost/variant2"]
	path = lib/boost/variant2
	url = https://github.com/boostorg/variant2.git
[submodule "lib/boost/atomic"]
	path = lib/boost/atomic
	url = https://github.com/boostorg/atomic.git
[submodule "lib/boost/align"]
	path = lib/boost/align
	url = https://github.com/boostorg/align.git
[submodule "lib/boost/chrono"]
	path = lib/boost/chrono
	url = https://github.com/boostorg/chrono.git
[submodule "lib/boost/ratio"]
	path = lib/boost/ratio
	url = https://github.com/boostorg/ratio.git
[submodule "lib/boost/rational"]
	path = lib/boost/rational
	url = https://github.com/boostorg/rational.git
[submodule "lib/boost/date_time"]
	path = lib/boost/date_time
	url = https://github.com/boostorg/date_time.git
[submodule "lib/boost/algorithm"]
	path = lib/boost/algorithm
	url = https://github.com/boostorg/algorithm.git
[submodule "lib/boost/lexical_cast"]
	path = lib/boost/lexical_cast
	url = https://github.com/boostorg/lexical_cast.git
[submodule "lib/boost/tokenizer"]
	path = lib/boost/tokenizer
	url = https://github.com/boostorg/tokenizer.git
[submodule "lib/boost/sort"]
	path = lib/boost/sort
	url = https://github.com/boostorg/sort.git
