[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "lib/opus"]
	path = lib/opus
	url = https://github.com/xiph/opus.git
[submodule "lib/SOIL2"]
	path = lib/SOIL2
	url = https://github.com/SpartanJ/SOIL2.git
[submodule "lib/glad"]
	path = lib/glad
	url = https://github.com/CarsonAurum/glad_cmake.git
[submodule "lib/flecs"]
	path = lib/flecs
	url = https://github.com/SanderMertens/flecs.git
[submodule "lib/behavior_tree"]
	path = lib/behavior_tree
	url = https://github.com/BehaviorTree/BehaviorTree.CPP.git