[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "lib/opus"]
	path = lib/opus
	url = https://github.com/xiph/opus.git
[submodule "lib/SOIL2"]
	path = lib/SOIL2
	url = https://github.com/SpartanJ/SOIL2.git
[submodule "lib/boost/uuid"]
	path = lib/boost/uuid
	url = https://github.com/boostorg/uuid.git
[submodule "lib/boost/core"]
	path = lib/boost/core
	url = https://github.com/boostorg/core.git
[submodule "lib/boost/assert"]
	path = lib/boost/assert
	url = https://github.com/boostorg/assert.git
[submodule "lib/boost/config"]
	path = lib/boost/config
	url = https://github.com/boostorg/config.git
[submodule "lib/boost/container"]
	path = lib/boost/container
	url = https://github.com/boostorg/container.git
[submodule "lib/boost/container_hash"]
	path = lib/boost/container_hash
	url = https://github.com/boostorg/container_hash.git
[submodule "lib/boost/exception"]
	path = lib/boost/exception
	url = https://github.com/boostorg/exception.git
[submodule "lib/boost/io"]
	path = lib/boost/io
	url = https://github.com/boostorg/io.git
[submodule "lib/boost/move"]
	path = lib/boost/move
	url = https://github.com/boostorg/move.git
[submodule "lib/boost/numeric_conversion"]
	path = lib/boost/numeric_conversion
	url = https://github.com/boostorg/numeric_conversion.git
[submodule "lib/boost/intrusive"]
	path = lib/boost/intrusive
	url = https://github.com/boostorg/intrusive.git
[submodule "lib/boost/predef"]
	path = lib/boost/predef
	url = https://github.com/boostorg/predef.git
[submodule "lib/boost/preprocessor"]
	path = lib/boost/preprocessor
	url = https://github.com/boostorg/preprocessor.git
[submodule "lib/boost/random"]
	path = lib/boost/random
	url = https://github.com/boostorg/random.git
[submodule "lib/boost/serialization"]
	path = lib/boost/serialization
	url = https://github.com/boostorg/serialization.git
[submodule "lib/boost/static_assert"]
	path = lib/boost/static_assert
	url = https://github.com/boostorg/static_assert.git
[submodule "lib/boost/throw_exception"]
	path = lib/boost/throw_exception
	url = https://github.com/boostorg/throw_exception.git
[submodule "lib/boost/tti"]
	path = lib/boost/tti
	url = https://github.com/boostorg/tti.git
[submodule "lib/boost/type_traits"]
	path = lib/boost/type_traits
	url = https://github.com/boostorg/type_traits.git
[submodule "lib/boost/winapi"]
	path = lib/boost/winapi
	url = https://github.com/boostorg/winapi.git
